---
import GetStartedButton from './GetStartedButton.astro'
import Logo from './Logo.astro'
---

<header class="flex justify-between items-center gap-4">
  <a href="/">
    <!-- TODO: make dropdown menu -->
    <Logo size={20} />
  </a>
  <GetStartedButton />
</header>
