---
import GetStartedButton from './GetStartedButton.astro';
import Logo from './Logo.astro';
---

<header class="flex justify-between items-center gap-4">
    <a href="/">
        <Logo size={24} />
    </a>
    <GetStartedButton />
</header>
