---
import Container from '~/components/Container.astro'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout>
  <Container class="max-w-7xl">
    <Header />
  </Container>

  <Container class="py-36">
    <h1 class="font-title font-bold text-[32px] text-center px-8 text-gray-900">
      Your page you are looking for is under construction
    </h1>
  </Container>

  <Container class="max-w-7xl pb-8 pt-36 sm:pt-44 lg:px-8 lg:pt-52">
    <Footer />
  </Container>
</Layout>
